MONGO_URI=mongodb+srv://user:pass@cluster0.x2lqzj9.mongodb.net/think-peace?retryWrites=true&w=majority
GOOGLE_API_KEY=A...Q
VAPID_PUBLIC_KEY=BFl9NGa4VTehmnJdtrXWpMv5cfpycl4xrZBIPlHdJTFIoS9IOojjCDoheX5GT5g6OoMcpOWj__kwPP8FPA5JAss
VAPID_PRIVATE_KEY=ylFcFwL5rksYDJOXiWQVZSxcXcT_hq0T7eML6TALELg
